3D-FUTURE-models/
HSSD-models/
3D-FUTURE-images/
HSSD-images/
Objaverse-models/
.DS_Store
build/
dist/
__pycache__/
sceneprogdatasets/__pycache__/
sceneprogdatasets.egg-info/
llm_cache/
main.py
old/
sceneprogdatasets/.env
sceneprogdatasets/objaverse/assets/
sceneprogdatasets/futurehssd/assets/
test*
